<body onload="myFunction()">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <script src="{{ url_for('static', filename='app.js') }}"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <section>
      <div id="toplevel" class="container">
          <nav id="specialNav" class="navbar navbar-default">
              <div class="container-fluid">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="#">CyberErnie</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                  <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">{{ data.name }}</a></li>
                    <li><a href="logout">Logout</a></li>
                  </ul>
                </div><!--/.nav-collapse -->
              </div><!--/.container-fluid -->
          </nav>
          <h2>Make a goddamned group!</h2>
          <div id="group_input">
              <input id="group_raw" type="text" class="form-control" required placeholder="Comma-separated usernames please! Limit is ten users per list">
          </br>
              <button class="btn btn-primary" type="button" onClick="javascript:make_group('{{data.access_token}}');">Submit</button>
          </div>
          <h3>Response:</h3>
          <textarea id="make_group_response" class="form-control" rows="3"></textarea>
        </br>
            <div id="listsTbl" class="bs-example">
              <div class="panel panel-default">
                <!-- Default panel contents -->
                <div id="panelHeader" class="panel-heading">Your Lists</div>
                  <!-- Table -->
                  <table class="table">
                    <thead id="tblHeader">
                      <tr>
                        <th>User 1</th>
                        <th>User 2</th>
                        <th>User 3</th>
                        <th>User 4</th>
                        <th>User 5</th>
                        <th>User 6</th>
                        <th>User 7</th>
                        <th>User 8</th>
                        <th>User 9</th>
                        <th>User 10</th>
                      </tr>
                    </thead>
                    <tbody id="tblBody">
                    </tbody>
                  </table>
              </div>
            </div>
            <h2>Pay a group!</h2>
          <div id="group_input">
              <input id="groupNumber" type="text" class="form-control" required placeholder="Group number">
              <input id="groupAmt" type="text" class="form-control" required placeholder="Payment per user, submit a negative number to charge!">
              <input id="groupNote" type="text" class="form-control" required placeholder="Non-specific note">
          </br>
              <button class="btn btn-primary" type="button" onClick="javascript:make_group_payment('{{data.access_token}}');">Submit</button>
          <h3>Response:</h3>
              <textarea id="make_group_payment_response" class="form-control" rows="3"></textarea>
          </br>
    </div>
  </section>

  <script>
      function myFunction() {
          var lists = document.getElementById("tblBody");
          retLists = {{ returnLists|tojson }};
          var length = retLists.length;
          count = 0;
          while (count < length){
            var row = document.createElement("tr");
            rowNum = count + 1;
            row.setAttribute("id", rowNum);
            var obj = retLists[count];
            for(var key in obj) {
              var td = document.createElement("td");
              td.innerHTML = obj[key];
              row.appendChild(td);
            }
            lists.appendChild(row);
            count = count + 1;
          }
      }
  </script>
</body>
